{% extends "gameReview_app/default_template.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Add a New Game</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id }}">
                <strong>Title:</strong>
            </label>
            {{ form.title }}
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.cover_image.id }}">
                <strong>Cover Image:</strong>
            </label>
            {{ form.cover_image }}
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.genre.id }}">
                <strong>Genre:</strong>
            </label>
            {{ form.genre }}
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.publisher.id }}">
                <strong>Publisher:</strong>
            </label>
            <select name="publisher" class="form-select">
                <option value="" selected disabled>Select a Publisher</option>
                {% for publisher in publishers %}
                    <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                {% endfor %}
            </select>
            <label for="publisher-popup" class="btn btn-secondary">Add Publisher</label>
        </div>        
        <br>
        <div class="form-group">
            <label for="{{ form.release_year.id }}">
                <strong>Release Year:</strong>
            </label>
            {{ form.release_year }}
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.platforms.id }}">
                <strong>Platforms:</strong>
            </label>
            {{ form.platforms }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <!-- Hidden checkbox input and publisher_form -->
    <input type="checkbox" id="publisher-popup" style="display: none;">
    <div class="popup">
        <label for="publisher-popup" class="popup-overlay"></label>
        <div class="popup-content">
            <label for="publisher-popup" class="popup-close">X</label>
            <h2>Add Publisher</h2>
            <form method="post" id="publisherForm">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.website.label_tag }}
                    {{ form.website }}
                </div>
                <div class="form-group">
                    {{ form.contact.label_tag }}
                    {{ form.contact }}
                </div>
                <button type="submit" class="btn btn-primary">Add Publisher</button>
            </form>
        </div>
    </div>
</div>

<style>
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 20px;
        border-radius: 5px;
    }

    .popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
</style>
{% endblock %}