<!-- inherit template for consistency -->
{% extends "gameReview_app/default_template.html" %}

{% load static %}

<!-- override block content in template -->
{% block content%}

<div class="container text-center">
    <h1>Welcome to Gamer Reviews 4 Gamers!</h1>
</div>
<div class="container text-left">
    <h2>Recently Reviewed Games:</h2>
    <div class="row">
        {% for game in games %}
            <div class="col-lg-4 col-md-6 col-sm-12"> <!-- Adjust the column sizes as needed -->
                <div class="card mb-4">
                    <a href="{% url 'game_detail' game.id %}">
                        <div class="custom-card-img-container">
                            <img src="{{ game.cover_image.url }}" alt="{{ game.title }}" class="card-img-top custom-card-img">
                        </div>
                    </a>
                    <div class="card-body text-center"> <!-- Center text -->
                        <a href="{% url 'game_detail' game.id %}">
                            <h5 class="card-title">{{ game.title }}</h5>
                            <p>Overall Rating: {{ game.overall_rating }}/5</p>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
    .custom-card-img-container {
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
    }

    .custom-card-img {
        width: 415px;
        height: 655px;
        object-fit: cover;
        object-position: center;
        margin: 1 auto;
    }
</style>

{% endblock %}
